.activo {
    background-color: #ccc;  
  }
  a{
    color: black;
  }
  .activo a {
    color: blue;
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 20px;
    background-color: #eee;
    padding: 15px;
    color: black
  }  
   nav {
    background-color: #eee;
   }
  